<!DOCTYPE html>
<html lang="en" >
  <head>
      <title>Shopifyをクリックポスト変換</title>
      <meta charset="utf-8">
      <meta name="author" content="CambrianRobotics Inc.">
      <meta name="format-detection" content="telephone=no,address=no,email=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <script  src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container">

<h1>Shopifyをクリックポスト変換</h1>
    <div class="card">
      <div class="card-body">
        <form class="form" role="form" method="post" action="/convert" enctype="multipart/form-data" >
          <div class="form-group">
            <label for="elf">国内未発送を自動で抽出</label>
            <input class="form-control" type="file" id="csv" name="csv">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Convert</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div>
    <h2>使い方</h2>
    クリックポストの「注文管理」の「エクスポート」から「プレーンCSV」として出力されたCSVをダウンロード。それをここに入れることでクリックポスト用に変換される。
    40件以上より多いのはNG
  </div>

  </body>
</html>
